@import '../../../../global/global.scss';


.navigationCategory__container {
  display: flex;
  width: fit-content;
  min-width: 60%;
  font-size: 14px;
}
.category__sidePanel__title {
  margin: 1em;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 2em);
  
  .arrow__right {
    visibility: hidden;
  }
  &:hover {
    color: $blue;
    
    .arrow__right {
      visibility: visible;
    }
  }
}
.category__sidePanel__title--active {
  color: $blue;

  .arrow__right {
    visibility: visible;
  }
}
.category__sidePanel {
  width: fit-content;
}
// .category_lower {
//   width: 60%;
// }
.category__content__container {
  border-left: 2px solid $grey;
}
.category__content__container--group{
  border-left: 2px solid $grey;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.category__content__title--group {
  font-weight: 600;
  text-transform: uppercase;
  margin: 1em;
}
.category__content__title--group:hover {
  color: $blue;
}
.category__content__title {
  text-transform: capitalize;
  color: $fontGrey;
  margin: 1em;
  font-weight: 600;

  &:hover {
    color: $blue;
  }
}

.category__content__subContainer {
  text-transform: capitalize;
  color: $fontGrey;
  margin: 1em 0;

  &:hover {
    color: $blue;
  }
}

.navigationCategory__caret {
  height: 10px;
  width: 10px;
  position: relative;
  background: rgb(255, 255, 255);
  transform: rotate(225deg);
  margin: -5px;
  z-index: -1;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
  top: -2%;
  left: 50%;
}
